.u-section-1 .u-sheet-1 {
  min-height: 253px;
}

.u-section-1 .u-image-1 {
  width: 286px;
  height: 38px;
  margin: 100px auto 0 20px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 232px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px 167px 40px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 32px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 189px;
}

.u-section-2 .u-sheet-1 {
  min-height: 1412px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 339px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 30px 10px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 10px 0;
}

.u-section-2 .u-image-1 {
  min-height: 321px;
  background-image: url("images/image.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px auto 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-image-2 {
  min-height: 400px;
  background-image: url("images/2024-05-25001122.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 636px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-image-3 {
  height: 393px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 20px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 670px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-image-4 {
  height: 367px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 719px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 21px 20px 0 0;
}

.u-section-2 .u-image-5 {
  width: 255px;
  height: 178px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 19px 0 0 auto;
}

.u-section-2 .u-text-7 {
  margin: -175px 275px 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: 43px 0 0;
}

.u-section-2 .u-image-6 {
  width: 245px;
  height: 149px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-7 {
  width: 245px;
  height: 148px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -148px 0 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 20px 265px 0 0;
}

.u-section-2 .u-text-10 {
  margin: -58px 0 0 265px;
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2161px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 265px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 524px;
  }

  .u-section-2 .u-image-3 {
    height: 316px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-bottom: 59px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 1034px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 295px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 1034px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-5 {
    width: 205px;
    height: 143px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -143px;
    margin-right: 254px;
    margin-left: 35px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 30px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 108px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -226px;
    margin-right: 195px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 189px;
    margin-right: 190px;
    margin-left: 35px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 203px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 231px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    height: 216px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 1106px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    height: 105px;
    width: 150px;
    margin-right: 150px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 21px;
    margin-right: 100px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    margin-left: 0;
  }

  .u-section-2 .u-image-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 115px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 115px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 718px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 3465px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 305px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 400px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 374px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 1032px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 51px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-5 {
    width: 260px;
    height: 182px;
    margin-right: 160px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -182px;
    margin-right: 10px;
    margin-left: 316px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 118px;
    margin-right: 20px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 27px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 71px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    margin-top: -199px;
    margin-right: 295px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 168px;
    margin-right: 0;
    margin-left: 326px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 64px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 464px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 2691px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 192px;
  }

  .u-section-2 .u-image-2 {
    min-height: 239px;
  }

  .u-section-2 .u-image-3 {
    height: 246px;
  }

  .u-section-2 .u-image-4 {
    height: 230px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 1155px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    width: 161px;
    height: 112px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 18px;
    margin-right: 107px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 47px;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    margin-top: 107px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: -235px;
    margin-right: 95px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 205px;
    margin-right: 126px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 47px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 793px;
}

.u-section-3 .u-image-1 {
  width: 286px;
  height: 38px;
  margin: 1px auto 0 20px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  min-height: 327px;
  background-image: url("images/image6.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 327px;
}

.u-section-3 .u-container-layout-2 {
  padding: 1px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 26px 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 10px 20px 0;
}

.u-section-3 .u-image-3 {
  width: 255px;
  height: 179px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 53px auto 0 255px;
}

.u-section-3 .u-text-3 {
  margin: -176px 265px 0 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 257px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-3 .u-text-5 {
  margin: 21px 311px 0 30px;
}

.u-section-3 .u-image-4 {
  width: 281px;
  height: 200px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -144px 0 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 257px;
}

.u-section-3 .u-container-layout-4 {
  padding: 1px 30px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 265px 0 0;
}

.u-section-3 .u-image-5 {
  width: 255px;
  height: 177px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -115px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-3 .u-image-2 {
    min-height: 270px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 521px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-3 {
    margin-top: 40px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -179px;
    margin-right: 275px;
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 39px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 301px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 36px;
    margin-right: 279px;
    margin-left: 0;
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-4 {
    width: 258px;
    height: 178px;
    margin-top: -201px;
    margin-right: 1px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 301px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 1px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 35px;
    margin-right: 225px;
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-5 {
    width: 205px;
    height: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-3 .u-image-2 {
    min-height: 207px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 2px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 9px;
    margin-right: 20px;
    margin-left: 30px;
  }

  .u-section-3 .u-image-3 {
    width: 230px;
    height: 161px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-right: 21px;
    margin-left: 30px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 1px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 416px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 221px;
    margin-right: 102px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -296px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 416px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 1px;
    padding-left: 1px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
    margin-left: 29px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 176px;
    margin-right: 56px;
    margin-left: 29px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -226px;
    margin-right: auto;
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-3 .u-image-2 {
    min-height: 311px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-3 .u-image-3 {
    width: 260px;
    height: 182px;
    margin-top: 18px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -182px;
    margin-right: 0;
    margin-left: 330px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 100%;
    margin: -49px 0 60px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 246px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 28px;
    margin-right: 278px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -90px;
    margin-left: 282px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 227px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 18px;
    margin-right: 31px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 33px;
    margin-right: 0;
    margin-left: 260px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -54px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-3 .u-image-2 {
    min-height: 196px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 160px;
    height: 112px;
    margin-top: 22px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -112px;
    margin-right: 175px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 33px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 172px;
    margin-right: 67px;
  }

  .u-section-3 .u-image-4 {
    width: 187px;
    height: 131px;
    margin-top: -219px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 337px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 173px;
    margin-left: 121px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -230px;
    margin-right: 0;
    margin-left: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-custom-html-1 {
  margin-bottom: 60px;
}