.u-section-1 .u-sheet-1 {
  min-height: 187px;
}

.u-section-1 .u-image-1 {
  width: 197px;
  height: 38px;
  object-position: 0% 50%;
  margin: 53px 54px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px 0 21px;
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: 234px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-right: 54px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2161px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 1px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  width: auto;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 16px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 16px 0 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/elinedk-mx/1/1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px 30px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 81px 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-2 {
  height: 598px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 100px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 10px 0;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 30px 0 0;
}

.u-section-2 .u-custom-html-2 {
  margin-top: 89px;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.75rem;
  margin: 12px 660px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.75rem;
  margin: -38px 0 0 660px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 47px 0 0 460px;
}

.u-section-2 .u-text-9 {
  font-size: 0.625rem;
  margin: 11px 269px 0 460px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -14px 967px 0 0;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 16px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 220px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-elements-1 {
  min-height: 210px;
  margin: 0 auto;
}

.u-section-2 .u-group-1 {
  width: 450px;
  min-height: 210px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-2 .u-image-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: 210px;
  width: 280px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 0.625rem;
  margin: -210px 292px 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 220px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-group-elements-2 {
  width: 311px;
  min-height: 140px;
  margin: 70px auto 0 0;
}

.u-section-2 .u-image-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: 140px;
  width: 200px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  font-size: 0.625rem;
  margin: -112px 0 0 216px;
}

.u-section-2 .u-text-13 {
  font-size: 0.625rem;
  margin: 16px 37px 0 216px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 220px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-group-elements-3 {
  width: 311px;
  min-height: 140px;
  margin: 70px auto 0 0;
}

.u-section-2 .u-image-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 200px;
  height: 140px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-14 {
  font-size: 0.625rem;
  margin: -64px 0 0 216px;
}

.u-section-2 .u-text-15 {
  font-size: 0.625rem;
  margin: 16px 33px 0 216px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2772px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 493px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 460px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 460px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 52px;
    margin-right: 201px;
    margin-left: 529px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 0;
    margin-left: 529px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -19px;
    margin-right: 767px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 239px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 153px;
    width: 203px;
    margin-right: 77px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -152px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 239px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 0;
    min-height: 228px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-12 {
    width: 150px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 8px;
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 239px;
  }

  .u-section-2 .u-group-elements-3 {
    min-height: 196px;
    margin-top: 0;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    margin-left: auto;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3103px;
  }

  .u-section-2 .u-image-2 {
    height: 378px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 240px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 240px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 69px;
    margin-right: 218px;
    margin-left: 292px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 127px;
    margin-left: 292px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -14px;
    margin-right: 547px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 20px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 379px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 358px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 358px;
    margin-right: 838px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 151px;
    margin-right: 247px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 16px;
    margin-right: 247px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 379px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2986px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-2 {
    height: 567px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.625rem;
    margin-right: 60px;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.625rem;
    margin-left: 60px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 128px;
    margin-left: 202px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 37px;
    margin-left: 202px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 367px;
  }

  .u-section-2 .u-group-elements-2 {
    min-height: 204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 108px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 17px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 16px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-group-elements-3 {
    min-height: 186px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 106px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3639px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 150px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 388px;
  }

  .u-section-2 .u-image-2 {
    height: 357px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.625rem;
    margin-right: 0;
    margin-left: 142px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 144px;
  }

  .u-section-2 .u-text-10 {
    font-size: 0.625rem;
    margin-top: -29px;
    margin-right: 238px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 35px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 358px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-group-1 {
    margin-right: 1832px;
  }

  .u-section-2 .u-image-3 {
    height: 90px;
    width: 120px;
    margin-right: 330px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 330px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 358px;
  }

  .u-section-2 .u-group-elements-2 {
    min-height: 179px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 68px;
    width: 97px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-12 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 358px;
  }

  .u-section-2 .u-group-elements-3 {
    min-height: 147px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 67px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1770px;
}

.u-section-3 .u-image-1 {
  width: 195px;
  height: 44px;
  object-position: 0% 50%;
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-image-2 {
  width: 1076px;
  height: 788px;
  margin: 10px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 657px;
}

.u-section-3 .u-container-layout-1 {
  padding: 3px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 236px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 5px 119px 0 20px;
}

.u-section-3 .u-image-3 {
  height: 379px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  width: auto;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 657px;
}

.u-section-3 .u-container-layout-2 {
  padding: 3px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 241px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 5px 99px 0 20px;
}

.u-section-3 .u-image-4 {
  height: 379px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  width: auto;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 657px;
}

.u-section-3 .u-container-layout-3 {
  padding: 3px 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 256px 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 5px 119px 0 20px;
}
.u-section-3 .u-image-5 {
  height: 379px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 20px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1492px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 940px;
    height: 688px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-right: 169px;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-right: 72px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    height: 313px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 629px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 174px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 52px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    height: 313px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 542px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 189px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 72px;
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    height: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 527px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 613px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    margin-right: 96px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 240px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 101px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    height: 240px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 116px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    height: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3101px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 345px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 395px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 737px;
  }

  .u-section-3 .u-text-3 {
    width: 408px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    height: 541px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 736px;
  }

  .u-section-3 .u-text-6 {
    width: 408px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-image-4 {
    height: 540px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 736px;
  }

  .u-section-3 .u-text-9 {
    width: 408px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-5 {
    height: 540px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2627px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 145px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 249px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }

  .u-section-3 .u-image-3 {
    height: 341px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-3 .u-text-6 {
    width: 340px;
  }

  .u-section-3 .u-image-4 {
    height: 340px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 536px;
  }

  .u-section-3 .u-text-9 {
    width: 340px;
  }

  .u-section-3 .u-image-5 {
    height: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1665px;
}

.u-section-4 .u-image-1 {
  width: 197px;
  height: 38px;
  object-position: 0% 50%;
  margin: 103px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 100%;
  margin: 50px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 300px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 133px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 1px 30px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 500;
  margin: 0 50px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 0 42px 0 20px;
}

.u-section-4 .u-text-5 {
  font-weight: 500;
  margin: 4px 30px 0 40px;
}

.u-section-4 .u-image-2 {
  min-height: 300px;
  background-image: url("images/elinedk-mx/3/1.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-image-3 {
  min-height: 682px;
  background-image: url("images/elinedk-mx/3/2.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 682px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 4px 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 0 5px 0 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 5px 0 0;
}

.u-section-4 .u-image-4 {
  height: 338px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-4 .u-text-9 {
  font-weight: 500;
  margin: 0;
}

.u-section-4 .u-layout-wrap-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 438px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-5 {
  height: 340px;
  width: 468px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-10 {
  font-weight: 500;
  margin: 10px 5px 0 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 438px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-6 {
  height: 340px;
  width: 468px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-11 {
  font-weight: 500;
  margin: 10px 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-4 .u-image-2 {
    min-height: 429px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 0;
  }

  .u-section-4 .u-image-3 {
    min-height: 372px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 562px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    height: 278px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 361px;
  }

  .u-section-4 .u-image-5 {
    height: 298px;
    width: 410px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 361px;
  }

  .u-section-4 .u-image-6 {
    height: 298px;
    width: 410px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1934px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-2 {
    min-height: 329px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: -1px;
  }

  .u-section-4 .u-image-3 {
    min-height: 285px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-4 {
    height: 213px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-image-5 {
    height: 218px;
    width: 300px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-image-6 {
    height: 218px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2432px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 54px;
    margin-right: 343px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 103px;
  }

  .u-section-4 .u-image-2 {
    min-height: 306px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-3 {
    min-height: 428px;
  }

  .u-section-4 .u-image-4 {
    height: 320px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 143px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 193px;
  }

  .u-section-4 .u-image-3 {
    min-height: 269px;
  }

  .u-section-4 .u-image-4 {
    height: 201px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1295px;
}

.u-section-5 .u-image-1 {
  width: 195px;
  height: 44px;
  object-position: 0% 50%;
  margin: 110px 945px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 45px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  width: auto;
  margin: 2px 0 0;
}

.u-section-5 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 331px;
}

.u-section-5 .u-container-layout-2 {
  padding: 3px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-image-2 {
  width: 280px;
  height: 260px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 331px;
}

.u-section-5 .u-container-layout-3 {
  padding: 3px 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 166px 0 0;
}

.u-section-5 .u-image-3 {
  width: 280px;
  height: 260px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 331px;
}

.u-section-5 .u-container-layout-4 {
  padding: 3px 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-image-4 {
  width: 280px;
  height: 260px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 331px;
}

.u-section-5 .u-container-layout-5 {
  padding: 3px 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-image-5 {
  width: 280px;
  height: 260px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 34px 760px 0 0;
}

.u-section-5 .u-layout-wrap-3 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 345px;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 137px 0 -8px;
}

.u-section-5 .u-image-6 {
  height: 276px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 345px;
}

.u-section-5 .u-container-layout-7 {
  padding: 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 143px 0 0;
}

.u-section-5 .u-image-7 {
  height: 276px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 345px;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 128px 0 0;
}

.u-section-5 .u-image-8 {
  height: 276px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-9 {
  min-height: 367px;
}

.u-section-5 .u-container-layout-9 {
  padding: 0;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 55px 0 0;
}

.u-section-5 .u-image-9 {
  height: 276px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-10 {
  min-height: 367px;
}

.u-section-5 .u-container-layout-10 {
  padding: 0;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 55px 0 0;
}

.u-section-5 .u-image-10 {
  height: 276px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-11 {
  min-height: 367px;
}

.u-section-5 .u-container-layout-11 {
  padding: 0;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 55px 0 0;
}

.u-section-5 .u-image-11 {
  height: 276px;
  margin-top: 11px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 745px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 64px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    width: 195px;
    height: 178px;
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 273px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
    margin-top: 11px;
    margin-right: 116px;
  }

  .u-section-5 .u-image-3 {
    width: 195px;
    height: 179px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 273px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
    margin-top: 11px;
  }

  .u-section-5 .u-image-4 {
    width: 195px;
    height: 178px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 273px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
    margin-top: 11px;
  }

  .u-section-5 .u-image-5 {
    width: 195px;
    height: 182px;
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 560px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 301px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1rem;
    margin-right: 104px;
  }

  .u-section-5 .u-image-6 {
    height: 227px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 284px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 76px;
  }

  .u-section-5 .u-image-7 {
    height: 228px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 284px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 62px;
  }

  .u-section-5 .u-image-8 {
    height: 227px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 301px;
  }

  .u-section-5 .u-text-10 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-5 .u-image-9 {
    height: 227px;
  }

  .u-section-5 .u-layout-cell-10 {
    min-height: 303px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 0;
  }

  .u-section-5 .u-image-10 {
    height: 227px;
  }

  .u-section-5 .u-layout-cell-11 {
    min-height: 303px;
  }

  .u-section-5 .u-text-12 {
    margin-right: 0;
  }

  .u-section-5 .u-image-11 {
    height: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 525px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 38px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 208px;
  }

  .u-section-5 .u-image-2 {
    height: 158px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 219px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 61px;
  }

  .u-section-5 .u-image-3 {
    height: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 208px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 0;
  }

  .u-section-5 .u-image-4 {
    height: 158px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 219px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-image-5 {
    height: 164px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-6 {
    margin-right: 340px;
  }

  .u-section-5 .u-layout-wrap-3 {
    margin-bottom: 10px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 219px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.25rem;
    margin-right: 67px;
  }

  .u-section-5 .u-image-6 {
    height: 174px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 3px;
  }

  .u-section-5 .u-image-7 {
    height: 175px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
  }

  .u-section-5 .u-image-8 {
    height: 174px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 219px;
  }

  .u-section-5 .u-text-10 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-image-9 {
    height: 174px;
  }

  .u-section-5 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-5 .u-image-10 {
    height: 174px;
  }

  .u-section-5 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-5 .u-image-11 {
    height: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3860px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 345px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 79px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-5 .u-image-2 {
    height: 156px;
    width: 169px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 216px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-5 .u-image-3 {
    height: 165px;
    width: 179px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 215px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-image-4 {
    height: 165px;
    width: 181px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 215px;
  }

  .u-section-5 .u-image-5 {
    height: 165px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    margin-right: 160px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 292px;
  }

  .u-section-5 .u-image-6 {
    height: 392px;
  }

  .u-section-5 .u-image-7 {
    height: 394px;
  }

  .u-section-5 .u-image-8 {
    height: 392px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 292px;
  }

  .u-section-5 .u-image-9 {
    height: 392px;
  }

  .u-section-5 .u-image-10 {
    height: 392px;
  }

  .u-section-5 .u-image-11 {
    height: 392px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1487px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 145px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 45px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 276px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-6 {
    height: 247px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }

  .u-section-5 .u-image-7 {
    height: 248px;
  }

  .u-section-5 .u-image-8 {
    height: 247px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 276px;
  }

  .u-section-5 .u-image-9 {
    height: 247px;
  }

  .u-section-5 .u-image-10 {
    height: 247px;
  }

  .u-section-5 .u-image-11 {
    height: 247px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 569px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  width: auto;
  margin: 41px 0 0;
}

.u-section-6 .u-image-1 {
  height: 401px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 50px;
    margin-right: 231px;
  }

  .u-section-6 .u-image-1 {
    height: 197px;
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 11px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1422px;
}

.u-section-7 .u-image-1 {
  width: 197px;
  height: 38px;
  object-position: 0% 50%;
  margin: 101px 923px 0 20px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 549px 0 20px;
}

.u-section-7 .u-image-2 {
  width: 1120px;
  height: 854px;
  margin: 30px 0 0 auto;
}

.u-section-7 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1285px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 743px;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-right: 369px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    width: 940px;
    height: 717px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 523px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 149px;
  }

  .u-section-7 .u-image-2 {
    width: 720px;
    height: 549px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 343px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    width: 540px;
    height: 412px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 143px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 259px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-bottom: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 400px;
}

.u-section-8 .u-image-1 {
  width: 197px;
  height: 38px;
  object-position: 0% 50%;
  margin: 100px 943px 0 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 569px 0 0;
}

.u-section-8 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  height: auto;
  min-height: 51px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-image-1 {
    margin-right: 743px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    margin-right: 523px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-image-1 {
    margin-right: 343px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    margin-right: 143px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 482px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 59px;
}

.u-section-9 .u-image-1 {
  min-height: 423px;
  background-image: url("https://assets.nicepagecdn.com/8c61c2ab/6265588/images/112.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-9 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 55px;
  }

  .u-section-9 .u-image-1 {
    min-height: 349px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-9 .u-image-1 {
    min-height: 267px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-image-1 {
    min-height: 401px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    min-height: 252px;
  }
}

#sec-453a {
  max-height: 1920px;
}

@media (max-width: 1199px) {
  #sec-453a {
    max-height: 2280px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2600px;
  }
  .u-section-2 .u-text-6{
    width: 50%;
  }
  .u-section-2 .u-text-7 {
    width: 50%;
    margin-left: auto;
  }
  #sec-453a {
    max-height: 4000px;
}
}

@media (max-width: 575px) {
  #sec-453a {
    max-height: 3170px;
}
.u-section-7 .u-sheet-1 {
  min-height: 820px;
}
}